.ct-bar {
  stroke-width: 7px !important;
  stroke-linecap: round;
}

.ct-grid {
  display: none;
}

.ct-series-a .ct-bar {
  stroke: #FF006A !important;
}

.ct-series-b .ct-bar {
  stroke: #a95eee !important;
}

.ct-series-d .ct-bar, .ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  stroke: #FF8A00 !important;
  fill: #FF8A00 !important;
}

.ct-labels {
  display: flex;
}
