.panel {

  table {

    tr {

      td:first-child {
        padding-left: 0 !important;
      }

      td:last-child {
        padding-right: 0 !important;
      }

    }

  }

  .panel-header {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size:1.2rem;
    margin-bottom:20px;
    background: none;
    padding: 0 0 15px;
  }

  .panel-body {

  }

  .view-label {
    width: 50%;
    float: left;
    margin: 15px 0 5px;
  }

  .view-field {
    width: 50%;
  }

  .panel-body {

    .view-label:first-child, .view-label:nth-child(3) {
      margin-top:0;
    }

  }

}
