.quick-links {

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 10px;

			a {
				font-family: $secondary-font;
			  letter-spacing: 0.1rem;
			  font-weight:500;
				color:$black;
				text-decoration: none;
				font-size: 0.9rem;
			}

			&.box-label {
				border-bottom: 1px solid #888888;
				margin: 20px 0 15px!important;

				a {
					font-size:1rem;
				}
			}

		}

	}

}
