.table-responsive {
  width: 100%;
}

.table {
  font-family: $primary-font !important;
  margin-bottom:0;

  a {
    color:black;
    text-decoration: none;
  }

  th {
    border-bottom:1px solid #D2D2D2;
  }

  tr {
    border-bottom:1px solid #dedede;

    &:last-child {
      border-bottom:none !important;

      th, td {
        border-bottom:none !important;
      }

    }

  }

  > :not(:last-child) > :last-child > * {
    border-bottom-color: #d2d2d2;
    padding-top: 0;
  }

  > :not(caption) > * > * {
    padding: 0.9rem 0.5rem;
  }

  i {
    font-size: 1.4rem;
    padding: 0 10px;
    display: inherit;
    color: #848484;

    &.bi-circle-fill, &.fa-circle {
      font-size: 10px;
    }
  }

}

.table-striped > tbody > tr:nth-of-type(odd) {
  box-shadow: inset 0 0 0 9999px #fffefe;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 0 10px 20px 10px;
  border-bottom-color: #d2d2d2 !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 10px;
}

table.dataTable tbody tr:first-child td {
  padding-top: 20px;
}

.dataTables_wrapper {
  overflow: auto;
}

.dataTables_scrollHeadInner,.dataTables_scrollFootInner {
  width: 100% !important;

  .display.dataTable {
    width: 100% !important;
  }

}

.dataTables_filter {
  margin-bottom:20px;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  background-image:none !important;
  position: relative;

  &:after {
    content:'';
    display: block;
    border-right: 2px solid $pink;
    border-bottom: 2px solid $pink;
    width: 8px; height: 8px;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    right: 9px;
  }

}

table.dataTable thead .sorting_desc:after {
  transform: rotate(-135deg);
  top: 9px;
}

table.dataTable thead .sorting {
  background-image: none !important;
  position: relative;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 15px 10px;
}

.dataTables_wrapper .dataTables_filter input {
  border-radius:20px;
  outline: none;
  padding: 5px 13px;
}

.dataTables_wrapper .dataTables_length select {
  border-radius:20px;
  margin:0 5px;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
  background:white;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
  background:white;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background:white;
}

table.dataTable tfoot th, table.dataTable tfoot td {
  border-top:1px solid #c5c5c5;
}

.dataTables_wrapper .dataTables_info {
  float: none;
  text-align: center;
  padding: 20px 0;
}

.dataTables_wrapper .dataTables_paginate {
  float: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pager {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    padding: 5px 8px !important;
    color: white;
    background-color:$pink !important;
    border-radius: 100px;
    margin: 0 2px !important;
  }

  > span {
    padding: 0 10px;
  }

  select {
    border-radius: 6px;
    margin: 0 10px;
  }

}

#dataTable {

  #clientName {
    font-weight: 500;
    margin-bottom: 20px;
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-size: 0.95rem;
  }

}

#dtTable {

  th {
    font-weight: 500;
  }

  td {
    vertical-align: top !important;
  }

  .checkbox {

    input {
      vertical-align: top;
    }

  }

  i {
    color:black !important;
    opacity:0.4;
  }

  .btn-outline-info {
    padding: 0;
    border: none;
    background: none !important;
    box-shadow: none;

    i {
      opacity: 1;
      color:$pink !important;
    }

  }

}
