// BREAKPOINTS

$grid-breakpoints: (
  xs: 0,
  sm: 680px,
  md: 768px,
  lg: 1200px,
  xl: 1600px
);

//  TYPOGRAPHY
$primary-font: "source-sans-pro", sans-serif;
$secondary-font: "rift", sans-serif;
$font-family-sans-serif: "source-sans-pro", sans-serif;


//  COLOURS
$black:#444;
$dark-blue:#071C40;
$green: #63BE38;
$cyan: #00276A;
$orange: #FF7A00;
$purple: #A95EEE;


// IMAGES
